@import "bourbon/bourbon";
@import "neat/neat";
@import "flatui_colors";

/*****************************************************************************/
/*
/* Variables
/*
/*****************************************************************************/

$bodyBgColor:   #eff0f2;
$bodyFontColor: $wetAsphalt;
$bodyFontSize:  16px;
$linkFontColor: $nephritis;
$borderRadius:  3px;

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
body {
  background-color: $bodyBgColor;
  color: $bodyFontColor;
  font: $bodyFontSize 'Open Sans', $helvetica;
}

h1 {  font-size: $bodyFontSize + 12; }
h2 {  font-size: $bodyFontSize + 8; }
p {  font-size: $bodyFontSize; }

a {
  color: $linkFontColor;
  text-decoration: none;
}
a:hover {
  color: lighten($linkFontColor, 8%);
  text-decoration: underline;
}
a:visited {
  color: darken($linkFontColor, 10%);
}

::selection {
  color: #fff;
  background: #3498db;
}

::-moz-selection {
  color: #fff;
  background: #3498db;
}

.container {
  @include outer-container;
  margin-top: 20px;
}

header {
  @include row();
  line-height: $bodyFontSize;
  h1, a {
    font-size: $bodyFontSize + 2;
    padding: 0;
    margin: 0 1em 0 0;
    float: left;
  }
}

footer {
  font-size: $bodyFontSize - 4;
  color: $asbestos;
  border-top: 4px solid #1abc9c;
  overflow: hidden;
  div {
    @include span-columns(3);
  }
  p {
    font-size: $bodyFontSize - 2;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 2em;
}

ul.posts span,
 {
  color: $asbestos;
  font-family: $monospace;
}

.meta {
  color: $asbestos;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
pre {
  border: 1px solid darken($bodyBgColor, 6%);
  border-radius: $borderRadius;
  background-color: darken($bodyBgColor, 1%);
  padding: 0 .4em;
}

code {
  border: 1px solid darken($bodyBgColor, 6%);
  border-radius: $borderRadius;
  background-color: darken($bodyBgColor, 1%);
  padding: 0 .2em;
}

pre code {
  border: none;
}

/* terminal */
pre.terminal {
  border: 1px solid darken($bodyBgColor, 6%);
  border-radius: $borderRadius;
  background-color: darken($bodyBgColor, 1%);
  color: $bodyFontColor;
}

pre.terminal code {
  background-color: darken($bodyBgColor, 1%);
}
